{% extends "base_page.html" %}

{% block page-title %}
Помощник полиглотов
{% endblock %}

{% block page-lead %}
Перед вами - помощник для изучения иностранного языка. <br/>
Здесь вы можете добавлять новые слова и пройденные вами правила. <br/>
Подходит как для групповых занятий, так и для личного пользования. <br/>
{% endblock %}

{% block content %}
<div class="container px-4 py-5" id="project-contents">
    <h2 class="pb-2 border-bottom">Содержание:</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-4">
        <div class="col d-flex">
            <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#cpu-fill"></use>
                </svg>
            </div>
            <div>
                <h3 class="fs-2">Список иностранных слов</h3>
                <p>Здесь вы можете просмотреть уже изученные вами слова.</p>
                <a href="/terms-list" class="btn btn-primary">Повторим лексику!</a>
            </div>
        </div>
        <div class="col d-flex">
            <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#cpu-fill"></use>
                </svg>
            </div>
            <div>
                <h3 class="fs-2">Форма для добавления новых слов</h3>
                <p>Здесь вы можете добавить новое слово и его перевод</p>
                <a href="/add-term" class="btn btn-primary">
                    Запомним слова!
                </a>
            </div>
        </div>
        <div class="col d-flex">
            <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#cpu-fill"></use>
                </svg>
            </div>
            <div>
                <h3 class="fs-2">Пройденные темы</h3>
                <p>Здесь вы можете повторить все пройденные вами правила</p>
                <a href="/rules-list" class="btn btn-primary">
                    Повторим правила!
                </a>
            </div>
                    <div class="col d-flex">
            <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#cpu-fill"></use>
                </svg>
            </div>
            <div>
                <h3 class="fs-2">Форма для добавления новых правил</h3>
                <p>Узнал новое правило? Поделись с другими!</p>
                <a href="/add-rule" class="btn btn-primary">
                    Поделиться!
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}